
<% if user_signed_in? %>
		<%= link_to 'New Publication', new_publication_path %>
<% end %>
<br /><br />
<% title "Publication Overview" %>
<br />
<% num = 1 %>
<% publications = Publication.find(:all, :order => "year DESC, created_at DESC") %>
<% publications.each do |publication| %>
	<% fauthors = getFormatedAuthors(publication.authors.order('authorships.pos ASC')) %>
	<% if num % 2 == 1 %>
		<div id="<%= publication.title.downcase.gsub(" ", "-") + "-|-" + fauthors.downcase.gsub(" ", "-") %>" class="publication <%= " odd_row" %>">
	<% else %>
		<div id="<%= publication.title.downcase.gsub(" ", "-") + "-|-" + fauthors.downcase.gsub(" ", "-") %>" class="publication">
	<% end %>
			<h4 class="title"> <%= num.to_s + ". " %> 
				<%= publication.title + " (" + publication.year.to_s + ")"  %>
			</h4>
			<%= simple_format_span fauthors %>
			<br />
			<span class="infoRow">
			<%= simple_format_span getInformationRow(publication) %><br />
			<span class="keywords">
					<% if !publication.keywords.empty? %>
						<%= "Keywords: " + publication.keywords %>
					<% end %>
			</span>
			<table border="0">
						<tr>
							<td>
								<% if publication.upload_file_name != nil %>
									<%= button_to "Download",  publication.upload.url(:original, false), :method => :get %>
								<% end %>
							</td>
							<td>
								<%= button_to "Bibtex", publication_bibtex_path(publication), :method => :get,  :remote => 'true' %>
						    </td>
						    <td>
								<% if !publication.abstract.empty? %>
									<%= button_to "Abstract", publication_abstract_path(publication), :method => :get, :remote => 'true' %>
								<% end %>
							</td>
							<td width="100%"></td>
							<% if user_signed_in? %>
								 <td white-space="nowrap"> <%= button_to "Edit", edit_publication_path(publication), :method => :get %> </td>
								 <td white-space="nowrap"><%= button_to "Delete", publication_path(publication), :confirm => 'Are you sure you want to delete this publication?', :method => :delete %> </td>
							<% end %>
						</tr>
			</table>
			<div>
				<div id="bibtex_<%= publication.id.to_s %>"></div>
			</div>
			<div id="abstract_<%= publication.id.to_s %>"></div>
	</div>
<% num += 1 %>
<% end %>
	