<% if user_signed_in? %>
		<%= link_to "New Author", new_author_path %>
<% end %>
<br /> <br />
<% title "Listing authors" %>
<table border="1" class="rahmen">
  <tr class="rahmen">
    <th class="rahmen">Name</th>
    <th class="rahmen">E-Mail</th>
    <th class="rahmen">Phone</th>
    <th class="rahmen">Website</th>
    <% if user_signed_in? %>
	    <th class="rahmen"></th>
	    <th class="rahmen"></th>
	    <% end %>
  </tr>

<% Author.where("not(first_name like ?)", "%.%").sort{ |a,b| a.last_name <=> b.last_name }.each do |author| %>
  <tr class="rahmen"> 
    <td class="rahmen" width="150"><%= link_to author.title + " " + author.first_name + " " + author.last_name, author %></td>
    <td class="rahmen" width="300"><%= mail_to author.email, nil, :replace_at => "(at)", :encode => "hex" %></td>
    <td class="rahmen" width="150"><%= author.phone %></td>
    <td class="rahmen" width="290" > <%= link_to( author.url, author.url ) %> </td>
    <% if user_signed_in? %>
	    <td class="rahmen" width="30" ><%= link_to 'Edit', edit_author_path(author) %></td>
	    <td class="rahmen" width="30" ><%= link_to 'Delete', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>